.dashboardInput{
  @apply 
  flex 
  gap-3
  items-center 
  px-4 
  py-3
  bg-white/20
    backdrop-blur-xl
    rounded-2xl
    shadow-[0_10px_30px_rgba(0,0,0,0.6)]
    transition-all
    outline-none
    focus:outline-none border-none
    text-white
}

.submitButton{
  @apply
  px-6 
  py-2
  rounded-full 
  font-semibold 
  text-white
             
  bg-gradient-to-r from-cyan-400 via-blue-500 to-indigo-600
  shadow-lg shadow-blue-500/40
   hover:shadow-cyan-400/50 hover:scale-105
  active:scale-95
  transition-all duration-300
}

.dashboardForm {
  @apply bg-white bg-opacity-90 p-6 rounded-lg shadow-lg w-full max-w-md;
}

.dashboardInput {
  @apply w-full p-2 border border-gray-300 rounded mb-4;
}

.dashboardButton {
  @apply w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600;
}
