@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.animate-clouds {
  animation: clouds 40s linear infinite;
}